h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

.container {
  width: 100%;
  height: 300px;
  margin: auto;
  padding: 10px;
}
.inside-grid {
  height: 600px;
  overflow-y: scroll;
}
.DivToScroll {
  left: 5px;
  font-size: 12px;
  font-weight: bold;
  float: left;
  margin-left: 5%;
  padding: 1%;
}

.DivWithScroll {
  height: 600px;
  overflow-y:scroll
}
.one {
  width: 70%;
  height: 200px;
  float: left;
}
.two {
  margin-left: 30%;
  height: 200px;
  float: right;
}
