<div>
  <div class="ui-g">
    <div class="ui-g-12">{{title}}</div>
    <div class="ui-g-12">

      <div class="ui-g-8 ui-g-nopad">
          <app-sqljob-connection></app-sqljob-connection>
      </div>
      <div class="ui-g-4">Login </div>

    </div>
    <div class="ui-g-12">
      <div class="ui-g-1">
        <div>
          <a routerLink="/sqlJobs/dashboard" routerLinkActive="active">Dashboard</a>
          <a routerLink="/sqlJobs/allJobs" routerLinkActive="active">All Jobs</a>
        </div>
      </div>
      <div class="ui-g-10 ui-g-nopad">
        <div class="ui-g-4">
          <div class="inside-grid">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="ui-g-4">
          <div class="inside-grid">
            <job-detail></job-detail>
          </div>
        </div>
        <div class="ui-g-4">History </div>
      </div>
    </div>
    <div class="ui-g-12">STATUS </div>
  </div>
</div>
